[:zabbix_export
 [:version "2.0"]
 [:date "2016-09-21T18:29:45Z"]
 [:groups [:group [:name "Templates"]]]
 [:templates
  [:template
   [:template "Template App Zabbix Agent"]
   [:name "Template App Zabbix Agent"]
   [:description]
   [:groups [:group [:name "Templates"]]]
   [:applications [:application [:name "Zabbix agent"]]]
   [:items
    [:item
     [:name "Agent ping"]
     [:type "7"]
     [:snmp_community]
     [:multiplier "0"]
     [:snmp_oid]
     [:key "agent.ping"]
     [:delay "60"]
     [:history "7"]
     [:trends "365"]
     [:status "0"]
     [:value_type "3"]
     [:allowed_hosts]
     [:units]
     [:delta "0"]
     [:snmpv3_contextname]
     [:snmpv3_securityname]
     [:snmpv3_securitylevel "0"]
     [:snmpv3_authprotocol "0"]
     [:snmpv3_authpassphrase]
     [:snmpv3_privprotocol "0"]
     [:snmpv3_privpassphrase]
     [:formula "1"]
     [:delay_flex]
     [:params]
     [:ipmi_sensor]
     [:data_type "0"]
     [:authtype "0"]
     [:username]
     [:password]
     [:publickey]
     [:privatekey]
     [:port]
     [:description "The agent always returns 1 for this item. It could be used in combination with nodata() for availability check."]
     [:inventory_link "0"]
     [:applications [:application [:name "Zabbix agent"]]]
     [:valuemap [:name "Zabbix agent ping status"]]
     [:logtimefmt]]
    [:item
     [:name "Host name of zabbix_agentd running"]
     [:type "7"]
     [:snmp_community]
     [:multiplier "0"]
     [:snmp_oid]
     [:key "agent.hostname"]
     [:delay "3600"]
     [:history "7"]
     [:trends "365"]
     [:status "0"]
     [:value_type "1"]
     [:allowed_hosts]
     [:units]
     [:delta "0"]
     [:snmpv3_contextname]
     [:snmpv3_securityname]
     [:snmpv3_securitylevel "0"]
     [:snmpv3_authprotocol "0"]
     [:snmpv3_authpassphrase]
     [:snmpv3_privprotocol "0"]
     [:snmpv3_privpassphrase]
     [:formula "1"]
     [:delay_flex]
     [:params]
     [:ipmi_sensor]
     [:data_type "0"]
     [:authtype "0"]
     [:username]
     [:password]
     [:publickey]
     [:privatekey]
     [:port]
     [:description]
     [:inventory_link "0"]
     [:applications [:application [:name "Zabbix agent"]]]
     [:valuemap]
     [:logtimefmt]]
    [:item
     [:name "Version of zabbix_agent(d) running"]
     [:type "7"]
     [:snmp_community]
     [:multiplier "0"]
     [:snmp_oid]
     [:key "agent.version"]
     [:delay "3600"]
     [:history "7"]
     [:trends "365"]
     [:status "0"]
     [:value_type "1"]
     [:allowed_hosts]
     [:units]
     [:delta "0"]
     [:snmpv3_contextname]
     [:snmpv3_securityname]
     [:snmpv3_securitylevel "0"]
     [:snmpv3_authprotocol "0"]
     [:snmpv3_authpassphrase]
     [:snmpv3_privprotocol "0"]
     [:snmpv3_privpassphrase]
     [:formula "1"]
     [:delay_flex]
     [:params]
     [:ipmi_sensor]
     [:data_type "0"]
     [:authtype "0"]
     [:username]
     [:password]
     [:publickey]
     [:privatekey]
     [:port]
     [:description]
     [:inventory_link "0"]
     [:applications [:application [:name "Zabbix agent"]]]
     [:valuemap]
     [:logtimefmt]]]
   [:discovery_rules]
   [:macros]
   [:templates]
   [:screens]]]
 [:triggers
  [:trigger
   [:expression "{Template App Zabbix Agent:agent.hostname.diff(0)}>0"]
   [:name "Host name of zabbix_agentd was changed on {HOST.NAME}"]
   [:url]
   [:status "0"]
   [:priority "1"]
   [:description]
   [:type "0"]
   [:dependencies]]
  [:trigger
   [:expression "{Template App Zabbix Agent:agent.version.diff(0)}>0"]
   [:name "Version of zabbix_agent(d) was changed on {HOST.NAME}"]
   [:url]
   [:status "0"]
   [:priority "1"]
   [:description]
   [:type "0"]
   [:dependencies]]
  [:trigger
   [:expression "{Template App Zabbix Agent:agent.ping.nodata(5m)}=1"]
   [:name "Zabbix agent on {HOST.NAME} is unreachable for 5 minutes"]
   [:url]
   [:status "0"]
   [:priority "3"]
   [:description]
   [:type "0"]
   [:dependencies]]]]
